{% extends "base.html" %}

{% block content %} 

<h2>Portifolio</h2>
<hr/>

<div class='span-18'>
  {% block contenido_portfolio %}
    <div class='notice'>
    <strong>
    {%if portfolio %}
      Selecione um dos items do portifolio.
    {%else%}
      O sentimos, ainda nao temos publicado os items de nosso portifolio.
    {%endif%}
    </strong>
    </div>
  {% endblock %}
</div>

<div class='span-6 last'>
{% block menu_portfolio %}

{% include 'trabajo/itemportfolio/box_portfolio.html'%}

{% endblock %}
</div>

{% endblock %}
