{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{%block extraassets%}
  {{direccionFormSet.media}}
{%endblock%}

{%block agenciado_active%}active{%endblock%}

{% block content %}

{%with clase_espacio_celda='span3'%}
<form class='uniForm' enctype="multipart/form-data" method="post"  action="/agenciado/">
  {% csrf_token %}

  {% if form.errors or direccionFormSet.non_form_errors or direccionFormSet.errors or telefonoFormSet.non_form_errors or telefonoFormSet.errors or fotoAgenciadoFormSet.non_form_errors or fotoAgenciadoFormSet.errors or videoAgenciadoFormSet.non_form_errors or videoAgenciadoFormSet.errors %}
    <div class='alert alert-error'>{% trans "Tem erros por corregir" %}</div>
  {% endif %}

  {% if form.non_form_errors %}<div class='alert alert-error'>{{ form.non_field_errors }}</div>{%endif%}

  <fieldset>
    <legend>{% trans "Dados persoais" %}</legend>
    <div class='row'>
      <div class='{{clase_espacio_celda}}'>{{form.mail|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.nombre|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.apellido|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.fecha_nacimiento|as_crispy_field}}</div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{% trans "Dados administrativos" %}</legend>
    <div class='row'>
    <div class='{{clase_espacio_celda}}'>{{form.documento_rg|as_crispy_field}}</div>
    <div class='{{clase_espacio_celda}}'>{{form.documento_cpf|as_crispy_field}}</div>
    <div class='{{clase_espacio_celda}}'>{{form.responsable|as_crispy_field}}</div>
    <div class='{{clase_espacio_celda}}'>{{form.cuenta_bancaria|as_crispy_field}}</div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{% trans "Dados de endereço" %}</legend>
    {% with direccionFormSet as formset %}
      {{ formset.management_form }}
      {% for error in formset.non_form_errors %}
        <div class='alert alert-error'>{{ error }}</div>
      {% endfor %}
      <div class='row'>
        {% for form in formset %}
          {% for field in form %}
            {% if field.name != 'descripcion' %}
              <div class='{{clase_espacio_celda}}'>{{field|as_crispy_field}}</div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endwith %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Telefones" %}</legend>
    {%comment%}
    {{telefonoFormSet|crispy}}
    {%endcomment%}
    {% include 'agenciado/formset.html' with formset=telefonoFormSet forms_by_line='3' columns_by_form='4' %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Caracteristicas fisicas" %}</legend>
    <div class='row'>
      <div class='{{clase_espacio_celda}}'>{{form.sexo|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.ojos|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.pelo|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.piel|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.altura|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.peso|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.talle|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.talle_camisa|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.talle_pantalon|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.calzado|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.estado_dientes|as_crispy_field}}</div>
    </div>
  </fieldset>

  <fieldset>
    <legend>{% trans "Habilidades" %}</legend>
    {{form.deportes|as_crispy_field}}
    <hr/>
    {{form.danzas|as_crispy_field}}
    <hr/>
    {{form.instrumentos|as_crispy_field}}
    <hr/>
    {{form.idiomas|as_crispy_field}}
  </fieldset>

  <fieldset>
    <legend>{% trans "Fotos" %}</legend>
    {% autoescape off %}
    {{form.instance.thumbnails}}
    {% endautoescape %}
    {% include 'agenciado/formset.html' with formset=fotoAgenciadoFormSet forms_by_line='3' columns_by_form='4' %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Videos" %}</legend>
    {% autoescape off %}
    {{form.instance.html_small_youtube_iframes}}
    {% endautoescape %}
    {% include 'agenciado/formset.html' with formset=videoAgenciadoFormSet forms_by_line='3' columns_by_form='4' %}
  </fieldset>

  <fieldset>
    <legend>{% trans "Otros dados" %}</legend>
    <div class='row'>
      <div class='span2'>{{form.indicador_maneja|as_crispy_field}}</div>
      <div class='span2'>{{form.indicador_tiene_registro|as_crispy_field}}</div>
      <div class='span2'>{{form.trabaja_como_extra|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.como_nos_conocio|as_crispy_field}}</div>
      <div class='{{clase_espacio_celda}}'>{{form.observaciones|as_crispy_field}}</div>
    </div>
  </fieldset>

  {{form.next_page|as_crispy_field}}

  <div class="form-actions">
    <input type="submit" name="submit" value="{% trans "Grabar" %}" class="btn btn-primary" id="submit-id-submit" />
  </div>

</form>
{%endwith%}

{% endblock %}
