<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {%block assets%}
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    {%comment%}
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    {%endcomment%}

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
      body {
        padding-top: 120px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}bootstrap/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  {%endblock%}

  <title>{%block title%}Agencia {{ambiente.agencia.nombre}}{%endblock%}</title>

</head>

<body >

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class='brand' href=/agencia/> <img src='/static/images/small_logo.png' alt=Agencia {{ambiente.agencia.nombre}}/> </a> 
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class='{%block agenciado_active%}{%endblock%}'><a href="/agenciado/"><span>Meu Perfil</span></a> </li>
            <li class='{%block busquedas_active%}{%endblock%}'><a href="/trabajo/busquedas/"><span>Pesquisas</span></a> </li>
            <li class='{%block portfolio_active%}{%endblock%}'><a href="/trabajo/portfolio/"><span>Portifolio</span></a> </li>
            <li class='{%block contacto_active%}{%endblock%}'><a href="/agencia/contacto/"><span>Contato</span></a> </li>
          </ul>


          <div class="pull-right">
          <ul class="nav">
            {%block menu_usuario%}
                 <li> <a href="/admin/">Administração</a></li>
                {% if user.is_authenticated %}
                  <li><a href="/agencia/cambio/clave/">Trocar Senha</a></li>
                  <li><a href="/agencia/logout/">Sair ({{user.username}})</a></li>
                {%else%}
                  <li><a href="/agenciado/registro/">Registro</a></li>
                  <li><a href="/accounts/login/">Ingresar</a></li>
                {% endif %}
            {%endblock%}
            </ul>
          </div>

        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>


  <div class='container'>


      {% if messages %}
        {% for message in messages %}
          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{%autoescape off%}{{ message }}{%endautoescape%}</div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}

  </div>

  <hr>

  {% block footer %}
    <div id="footer">
      <div class="container">
        <p class="muted credit">Agencia {{ambiente.agencia.nombre}} {% for telefono in ambiente.agencia.telefonos %}|{{telefono}}{% endfor%}| {{ambiente.agencia.email}}</p><p class="muted credit"> {{ambiente.agencia.direccion}}</p>
      </div>
    </div>
  {% endblock %}


</body>
</html>
