{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %} 
  {%blocktrans with rol=rol.descripcion trabajo=rol.trabajo.titulo %}Resultado de adicionar agenciados selecionados a perfil {{ rol }} de trabalho {{ trabajo }}{%endblocktrans%} | {{ agencia.nombre }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">{% trans "Início" %}</a>
  &rsaquo; <a href="/admin/agencia/">{% trans "Agencia" %}</a>
  &rsaquo; <a href="/admin/agencia/agenciado/">{% trans "Agenciados" %}</a>
  &rsaquo; {%blocktrans with rol=rol.admin_link|safe trabajo=rol.trabajo.admin_link|safe %}Resultado de adicionar agenciados selecionados a perfil {{ rol }} de trabalho {{ trabajo }}{%endblocktrans%} 
</div>
{% endblock %}


{% block content %}

<h3>
  {%blocktrans with rol=rol.admin_link|safe %}Agenciados adicionados com exito ao perfil "{{rol}}" com estado "{{estado}}"{%endblocktrans%}:
</h3>
<ul>
  {% for postulacion in postulaciones_realizadas_con_exito %}
    <li>{{ postulacion.agenciado.admin_link|safe }}</li>
  {% empty %}
    <li>{% trans "Nao foi posibel adicionar nenhum agenciado" %}</li>
  {% endfor %}
</ul>

{% if postulaciones_ya_existentes %}
  <h3>
    {%blocktrans with rol=rol.admin_link|safe %}Agenciados ja existentes em perfil "{{rol}}" (se indica o estado atual para cada postulação existente){%endblocktrans%}:
  </h3>
  <ul>
    {% for postulacion in postulaciones_ya_existentes %}
      <li>{{ postulacion.agenciado.admin_link|safe }} ({{postulacion.descripcion_estado}})</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
