{% extends "admin/change_form.html" %}

{% block title %} Adicionar agenciados selecionados a perfil de trabalho | {{ ambiente.agencia.nombre }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">Início</a>
  &rsaquo; <a href="/admin/agencia/">Agencia</a>
  &rsaquo; <a href="/admin/agencia/agenciado/">Agenciados</a>
  &rsaquo; Adicionar agenciados selecionados a perfil de trabalho
</div>
{% endblock %}


{% block content %}

<h3>Selecione perfil em que deseja adicionar os agenciados selecionados:</h3>
<form action="/trabajo/agregar/agenciados/seleccionados/a/rol/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<h3>Agenciados selecionados</h3>
<ul>
  {% autoescape off %}
  {% for agenciado in agenciados %}
    <li>{{ agenciado.admin_link }}</li>
  {% endfor %}
  {% endautoescape %}
</ul>

{% endblock %}
