{% extends "admin/change_form.html" %}
{% load i18n %}

{% trans "Adicionar agenciados selecionados a perfil de trabalho" as titulo_accion %}

{% block title %} {{titulo_accion}} | {{ agencia.nombre }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">{% trans "Início" %}</a>
  &rsaquo; <a href="/admin/agencia/">{% trans "Agencia" %}</a>
  &rsaquo; <a href="/admin/agencia/agenciado/">{% trans "Agenciados" %}</a>
  &rsaquo; {{titulo_accion}}
</div>
{% endblock %}


{% block content %}

<h3>{% trans "Selecione perfil em que deseja adicionar os agenciados selecionados:" %}</h3>
<form action="/trabajo/agregar/agenciados/seleccionados/a/rol/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="{% trans "Adicionar agenciados" %}" />
</form>

<h3>{% trans "Agenciados selecionados" %}</h3>
<ul>
  {% autoescape off %}
  {% for agenciado in agenciados %}
    <li>{{ agenciado.admin_link }}</li>
  {% endfor %}
  {% endautoescape %}
</ul>

{% endblock %}
