{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %} {%blocktrans%}Resultado de adicionar agenciados selecionados a perfil {{ rol.descripcion }} de trabalho {{ trabajo.titulo }}{%endblocktrans%} | {{ ambiente.agencia.nombre }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">{% trans "Início" %}</a>
  &rsaquo; <a href="/admin/agencia/">{% trans "Agencia" %}</a>
  &rsaquo; <a href="/admin/agencia/agenciado/">{% trans "Agenciados" %}</a>
  &rsaquo; {%blocktrans%}Resultado de adicionar agenciados selecionados a perfil {{ rol.descripcion }} de trabalho {{ trabajo.titulo }}{%endblocktrans%}
</div>
{% endblock %}


{% block content %}

{% autoescape off %}
<h3>{%blocktrans%}Agenciados adicionados com exito ao perfil "{{rol.admin_link}}" com estado "{{estado}}"{%endblocktrans%}:</h3>
<ul>
  {% for postulacion in postulaciones_realizadas_con_exito %}
    <li>{{ postulacion.agenciado.admin_link }}</li>
  {% empty %}
    <li>{% trans "Nao foi posibel adicionar nenhum agenciado" %}</li>
  {% endfor %}
</ul>
{% endautoescape %}

{% if postulaciones_ya_existentes %}
  {% autoescape off %}
  <h3>{%blocktrans%}Agenciados ja existentes em perfil "{{rol.admin_link}}" (se indica o estado atual para cada postulação existente){%endblocktrans%}:</h3>
  <ul>
    {% for postulacion in postulaciones_ya_existentes %}
      <li>{{ postulacion.agenciado.admin_link }} ({{postulacion.descripcion_estado}})</li>
    {% endfor %}
  </ul>
  {% endautoescape %}
{% endif %}

{% endblock %}
