{% extends "admin/change_form.html" %}

{% block title %} Resultado de adicionar agenciados selecionados a perfil {{ rol.descripcion }} de trabalho {{ trabajo.titulo }} | {{ ambiente.agencia.nombre }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="/admin/">Início</a>
  &rsaquo; <a href="/admin/agencia/">Agencia</a>
  &rsaquo; <a href="/admin/agencia/agenciado/">Agenciados</a>
  &rsaquo; Resultado de adicionar agenciados selecionados a perfil {{ rol.descripcion }} de trabalho {{ trabajo.titulo }}
</div>
{% endblock %}


{% block content %}

{% autoescape off %}
<h3>Agenciados adicionados com exito ao perfil "{{rol.admin_link}}" com estado "{{estado}}":</h3>
<ul>
  {% for postulacion in postulaciones_realizadas_con_exito %}
    <li>{{ postulacion.agenciado.admin_link }}</li>
  {% empty %}
    <li>Nao foi posibel adicionar nenhum agenciado</li>
  {% endfor %}
</ul>
{% endautoescape %}

{% if postulaciones_ya_existentes %}
  {% autoescape off %}
  <h3>Agenciados ja existentes em perfil "{{rol.admin_link}}" (se indica o estado atual para cada postulaCao existente):</h3>
  <ul>
    {% for postulacion in postulaciones_ya_existentes %}
      <li>{{ postulacion.agenciado.admin_link }} ({{postulacion.descripcion_estado}})</li>
    {% endfor %}
  </ul>
  {% endautoescape %}
{% endif %}

{% endblock %}
