{% extends "base.html" %}

{% load crispy_forms_tags %}

{%block agenciado_active%}active{%endblock%}

{% block content %}

<div class='prepend-3 span-18 last'>

{%comment%}
<form class='formee' enctype="multipart/form-data" method="post"  action="/agenciado/">
  {% csrf_token %}
  {% if telefonoFormSet.non_form_errors or fotoAgenciadoFormSet.non_form_errors or videoAgenciadoFormSet.non_form_errors %}
    <div class='error'>Tem errores por corregir</div>
  {% endif %}

  {% if form.non_form_errors %}<div class='error'>{{ form.non_field_errors }}</div>{%endif%}

  <div class='span-18'>
    <legend>Dados persoais</legend>
    {%include 'agenciado/form_field.html' with field=form.mail layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.nombre layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.apellido layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.fecha_nacimiento layout='span-6 last'%}
  </div>

  <div class='span-18'>
    <legend>Dados administrativos</legend>
    {%include 'agenciado/form_field.html' with field=form.documento_rg layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.documento_cpf layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.responsable layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.cuenta_bancaria layout='span-6 last'%}
  </div>

  <div class='span-18'>
    <legend>Dados de endereço</legend>
    {%include 'agenciado/form_field.html' with field=form.estado layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.ciudad layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.barrio layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.direccion layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.codigo_postal layout='span-6 last'%}
  </div>

  <div class='span-18'>
    <legend>Telefones</legend>
    {% include 'agenciado/formset.html' with formset=telefonoFormSet forms_by_line='3' columns_by_form='6' %}
  </div>

  <div class='span-18'>
    <legend>Caracteristicas fisicas</legend>
    {%include 'agenciado/form_field.html' with field=form.sexo layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.ojos layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.pelo layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.piel layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.altura layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.peso layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.talle layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.talle_camisa layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.talle_pantalon layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.calzado layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.estado_dientes layout='span-6 append-8 last'%}
  </div>

  <div class='span-18 last'>
    <legend>Habilidades</legend>
    {%include 'agenciado/form_field.html' with field=form.deportes layout='span-18'%}
    <hr/>
    {%include 'agenciado/form_field.html' with field=form.danzas layout='span-18'%}
    <hr/>
    {%include 'agenciado/form_field.html' with field=form.instrumentos layout='span-18'%}
    <hr/>
    {%include 'agenciado/form_field.html' with field=form.idiomas layout='span-18'%}
  </div>

  <div class='span-18'>
    <legend>Fotos</legend>
    <div class='span-18'>
      {% autoescape off %}
      {{form.instance.thumbnails}}
      {% endautoescape %}
    </div>
    <div class='span-18'>
    {% include 'agenciado/formset.html' with formset=fotoAgenciadoFormSet forms_by_line='2' columns_by_form='9' %}
    </div>
  </div>

  <div class='span-18'>
    <legend>Videos</legend>
    <div class='span-18'>
      {% autoescape off %}
      {{form.instance.html_small_youtube_iframes}}
      {% endautoescape %}
    </div>
    <div class='span-18'>
    {% include 'agenciado/formset.html' with formset=videoAgenciadoFormSet forms_by_line='3' columns_by_form='6' %}
    </div>
  </div>

  <div class='span-18'>
    <legend>Otros dados</legend>
    {%include 'agenciado/form_field.html' with field=form.indicador_maneja layout='span-6'%}
    {%include 'agenciado/form_field.html' with field=form.indicador_tiene_registro layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.trabaja_como_extra layout='span-6 last'%}
    {%include 'agenciado/form_field.html' with field=form.como_nos_conocio layout='span-9'%}
    {%include 'agenciado/form_field.html' with field=form.observaciones layout='span-9 last'%}
  </div>

  <div class='span-18 last'>
  <input class='right' type="submit" value="Grabar" />
  </div>

</form>
{%endcomment%}

  {% crispy form form.helper %}
</div>

{% endblock %}
