{% extends "trabajo/trabajo/busquedas.html" %}

{% block contenido_busquedas %}
{%if trabajo %}
  <h3>{{trabajo.titulo}}</h3>
  <p><strong>Descriçao:</strong> {{trabajo.descripcion}}</p>
  <hr/>
  <h3>Perfis procurados</h3>
  <ul>
  {% for rol in trabajo.rol_set.all %}
    <li><strong>{{rol.descripcion}}</strong>
    <ul>
      <li><strong>Cache:</strong> {% if rol.cache %} {{rol.cache|floatformat:2}} {%else%} Sem informaçao {%endif%}</li>
      <li><strong>Carateristicas</strong> {{rol.caracteristicas}}</li>
    </ul></li>
  {% empty %}
    <li>O trabalho nao registra perfis procurados</li>
  {% endfor %}
  </ul>
{%else%}
  O sentimos, o trabalho selecionado nao se encontra ativo.
{%endif%}
{% endblock %}
