{% extends "base.html" %}

{% block content %} 

<h2>Pesquisas</h2>
<hr/>

<div class='span-18'>
  {% block contenido_busquedas %}
    <div class='notice'>
      <strong>
    {%if trabajos %}
      Selecione um dos trabalhos ativos.
    {%else%}
      O sentimos, ainda nao temos trabalhos publicados.
    {%endif%}
      </strong>
    </div>
  {% endblock %}
</div>

<div class='span-6 last'>
{% block menu_busquedas %}

  {% include 'trabajo/trabajo/box_busquedas.html'%}

{% endblock %}
</div>

{% endblock %}
